
body {
	background: url(https://image.freepik.com/vector-gratis/fondo-abstracto-con-estrellas-de-colores_1164-718.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color:black;
}

header {
	margin-top: 20px;
}
img {
	width: 100%;
	margin-bottom: 30px;
}

.borde {
	border: 3px solid #efceef;
}

a {
	text-decoration: underline;
	color: purple;
	font-weight: bold;
	margin-bottom: 30px;
}

#bannerflog img {
	height: 100px;
}
h1, p{
	color: DeepPink ;
}
h1{
	font-size: 50px;
	font-weight: bolder;
}

textarea, input{
	width: 100%;
	padding: 1%;
	border-radius: 0px;
	border: 1px solid DeepPink;
	margin-bottom: 20px;
}

.posteo {
	color: DeepPink;
}
.posteo strong{
	display: block;
}
.posteo hr {
	border: 1px solid DeepPink;
}
/* PARA CORAZON */
.corazon {
	font-size: 40px;
	color: gray;
	text-align: center;
}
.rojo {
	color: red;
}
footer{
	padding: 10px;
	margin-top: 6%;
	background: #efceef;
	font-weight: bold;
}



/* Estilos comentarios */

.container-coments{
	margin: 3% 0;
}

.fondo-blanco {
	background: white;
}

.btn{
	background: #efceef;
	border: #efceef;
	color: DeepPink;
	font-weight: bold;
}

.btn:hover{
	background: DeepPink;
	border: DeepPink;
	color: #efceef;
	transition: 0.5s;
}

.new-coment{
	padding: 2%;
	border: 5px solid #efceef;
}